page-event {
    .title{
        font-family: "DroidSans";
        color:#ffffff;
        font-size: 16px;
        opacity: 87%;
    }
    .back-button.show-back-button {
        display: none;
    }
    .toolbar-title-md {
        padding: 0 8px;
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
        opacity: 87%;
    }
    .eventimg{
        width: 100%;
    }
    .e-icon{
        width: 46px;
        margin-left: 1%;
    }
    .subtitle{
        margin:0 3px 18px;
        font-size: 18px;
        margin: 0 0px 0px;
        opacity: 87%;
        color:#212121;
        font-family: "DroidSans";
        font-weight: 100; //line-height: 24.2px;
    }
    .card-md {
        margin: 0px;
        border-radius: 0px;
        width: 100%;
    }
    .subtext{
        font-size: 13px;
        opacity: 20%;   
        font-family: "DroidSans"; 
       // line-height: 12.2px;     
    }
    .events {
        margin: 7px 8px 0px 7px;
        font-family: "DroidSans"; 
        font-size: 13px; 
        font-weight: 100; 
        line-height: 14.3px;
        color: #666666;
    }
    .s-icons{
        width: 13px;
        opacity: 87%;
        color:#666666;
        display: initial;
    }
    .item-md p {
        margin: 0px 4px 3px;
        width: 60%;
    }
    .e-details{
        width: 13px;
        margin-left: 4.5%;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #666666;
    }

    .details{
        margin-left: 0%;
        min-height:14px;       
    }
    .space{
        font-size: 13px;
        height: 16px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left:10px;
        font-family: "DroidSans";
    }
    .datecolumn{
        font-family: "DroidSans";
        font-size: 18px;
    }
    .grid {
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .divide{
                
        border-top: 1px solid #b2b2b2  ;
        min-height:2px;
        margin-left: 4.5%;
        margin-right:4.5% ;
    }
    .diff{
        min-height: 4% ;
    }
    .overall{
        padding: 0px;
        margin: 0;
    }
    .outer.row{
        padding: 0px;
        margin: 0;
    }
    .inner.col{
        padding: 0px;
        margin: 0;
    }
    .short{
        padding: 0px;
        margin: 0;
    }
    .col{
        padding:0;
    }
    .row{
        padding: 0;
    }
    .titl.label-md {
        margin: 0% 8px 0% 0.4%;
        color:#212121;
        font-family: "DroidSans";
        font-size: 14px;
    }
    .stipend{
        width: 80px;
    }
    .facility {
        width:80px;
        padding-left: 0% ;
        margin: 0 ;
        text-align: center ;
    }
    p{
        text-align: center ;
    }
    .drop{
        text-align: right ;
        margin-left: 66%;
        
    }
    .more{
        margin-left:6%;
    }
    .share{
        margin-left:58%;
    }

    .back {
        border-radius: 0px;
        //overflow: hidden;
        outline-color: #212121;
        font-family: "DroidSans";
        height: 40px;
        width: 51%;
        font-size: 16px;
        bottom: 0px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: white;
        margin-left: -5px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        position: fixed;
        color: #666666;
    }
    .back:hover:not(.disable-hover) {
        background-color: white;
    }
    .next {
        border-radius: 0px;
        //overflow: hidden;
      //  outline-color: #212121;
        font-family: "DroidSans";
        height: 40px;
        width: 50%;
        font-size: 16px;
        bottom: 0px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #f3b000;
        
        margin-left: 49%;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        position: fixed;
        color: #ffffff;
        text-align: center;
    }
    .next:hover:not(.disable-hover) {
        background-color: white;
    }
    .back .button-inner{
        outline-style: auto;
    }
    .next .button-inner{
        outline-style: auto;    
    }
}
