<ion-header>
    <ion-toolbar >
        <button ion-button menuToggle>
            <ion-icon class="menu" name="menu"></ion-icon>
        </button>
        <ion-title item-start>
            volstory
            <ion-icon class="search" ios="ios-search" md="md-search" item-end></ion-icon>

            <ion-icon class="option" ios="ios-options" md="md-options" clear (click)="showHideDiv()" >
            </ion-icon>

        </ion-title>
    </ion-toolbar>
</ion-header>
<!-- <script type="text/javascript">
    function showHideDiv(filter) {
        var srcElement = document.getElementById(filter);
        if (srcElement != null) {
            if (srcElement.style.display == "block") {
                srcElement.style.display = 'none';
            }
            else {
                srcElement.style.display = 'block';
            }
            return false;
        }
    }
</script> -->


<ion-content>

    <!-- <div *ngIf="buttonClicked" padding class="ovrlay"  >

            <ion-segment [(ngModel)]="filter">
                <ion-segment-button value="time" >
                    Time
                </ion-segment-button>
                <ion-segment-button value="location">
                    Location
                </ion-segment-button>
                <ion-segment-button value="category">
                    Category
                </ion-segment-button>
            </ion-segment>
            <button class="done" ion-button full>DONE</button>
    </div>
    <div [ngSwitch]="filter" class="my-ovrlay">
        <ion-list *ngSwitchCase="'time'">
            <ion-item no-lines>
                <label class="container">Tomorrow
                    <input type="checkbox"  value="tomorrow">
                    <span class="checkmark"></span>
                </label>
            </ion-item>
            <ion-item no-lines>
                <label class="container">Today
                    <input type="checkbox"  value="today">
                    <span class="checkmark"></span>
                </label>
            </ion-item>
            <ion-item no-lines>
                <label class="container">This Weekend
                    <input type="checkbox"  value="thisweekend">
                    <span class="checkmark"></span>
                </label>
            </ion-item>
            <ion-item no-lines>
                <label class="container">This Weekend
                    <input type="checkbox"  value="thisweekend">
                    <span class="checkmark"></span>
                </label>
            </ion-item>
            <ion-item no-lines>
                <label class="container">This Month
                    <input type="checkbox"  value="thismonth">
                    <span class="checkmark"></span>
                </label>
            </ion-item>
        </ion-list>

    </div>

    <div *ngIf="buttonClicked" padding >
        <div class="my-overlay" [hidden]="overlayHidden">
        </div>
    </div> -->

    <!--ooooooooooooooooooooooofirst oooooverlay^^^^^^^ this is different above is more accurate-->
    <!-- <div >
        <button full (click)="hideOverlay()">Click me</button>
    </div> -->

    <!-- <div *ngIf="buttonClicked" padding class="ovrlay">
        <div class="my-overlay" padding [hidden]="overlayHidden">
            <div class="seg">
                <ion-segment [(ngModel)]="filter">
                    <ion-segment-button value="Time">
                        Time
                    </ion-segment-button>
                    <ion-segment-button value="Location">
                        Location
                    </ion-segment-button>
                    <ion-segment-button value="Category">
                        Category
                    </ion-segment-button>
                </ion-segment>
            </div>
        </div>
        <div [ngSwitch]="filter">
            <ion-list *ngSwitchCase="Time">
                <ion-item no-lines>
                    <label class="container">Tomorrow
                        <input type="checkbox"  value="tomorrow">
                        <span class="checkmark"></span>
                    </label>
                </ion-item>
                <ion-item no-lines>
                    <label class="container">Today
                        <input type="checkbox"  value="today">
                        <span class="checkmark"></span>
                    </label>
                        </ion-item>
                        <ion-item no-lines>
                            <label class="container">This Weekend
                                <input type="checkbox"  value="thisweekend">
                                <span class="checkmark"></span>
                            </label>
                        </ion-item>
                        <ion-item no-lines>
                            <label class="container">This Weekend
                                <input type="checkbox"  value="thisweekend">
                                <span class="checkmark"></span>
                            </label>
                        </ion-item>
                        <ion-item no-lines>
                            <label class="container">This Month
                                <input type="checkbox"  value="thismonth">
                                <span class="checkmark"></span>
                            </label>
                        </ion-item>
                    </ion-list>
                </div>
            <ion-grid>
                <ion-row class="don">
                    <button class="done" ion-button>DONE</button>
                </ion-row>
            </ion-grid>
        </div> -->


    <ion-list><ion-label class="events">Events</ion-label>
        <div class="adjust"></div>
        <ion-card *ngFor = 'let event of events'>
            <ion-item class="diff" no-lines>
                <img class="e-icon" src="../../assets/imgs/Category-Environment.svg" item-start>
                <p class="subtitle">{{event.volunteerName}}</p>
                <p class="subtext">{{event.eventCategory}}
                    <img class="s-icons" src="../../assets/imgs/SystemIcons/only followers.svg">
                </p>
            </ion-item>

            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/calendar.svg">
                    <ion-label class="space">{{event.scheduledOn}}</ion-label>
                </ion-item>
                <ion-item class="details" item-start no-lines>
                    <img item-start class="e-details" src="../../assets/imgs/SystemIcons/person (user).svg">
                    <ion-label class="space">{{event.volunteerName}}</ion-label>
                </ion-item>
                <ion-item class="details" item-start no-lines>
                    <img item-start class="e-details" src="../../assets/imgs/SystemIcons/location.svg">
                    <ion-label class="space">{{event.venue}}</ion-label>
                </ion-item>
                <ion-item class="lines">
                    <div>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/share.svg"></button>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/star border.svg"></button>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/join event 2.svg"></button>
                    </div>
                </ion-item><div class="adjust"></div>
            </ion-card>
            <ion-card>
                <!-- item 2  Event 2 starts... -->
                <ion-item class="diff" no-lines>
                    <img class="e-icon" src="../../assets/imgs/Category-Animal Welfare.svg" item-start>
                    <p class="subtitle">Pet Adoption Camp</p>
                    <p class="subtext">Animal Welfare
                        <img class="s-icons" src="../../assets/imgs/SystemIcons/public event.svg" >
                    </p>
                </ion-item>

                <ion-item class="details" item-start no-lines>
                    <img item-start class="e-details" src="../../assets/imgs/SystemIcons/calendar.svg">
                    <ion-label class="space">Mon, Jul 03, 01 Day Event</ion-label>
                </ion-item>
                <ion-item class="details" item-start no-lines>
                    <img item-start class="e-details" src="../../assets/imgs/SystemIcons/person (user).svg">
                    <ion-label class="space">Saniya Mahtur</ion-label>
                </ion-item>
                <ion-item class="details" item-start no-lines>
                    <img item-start class="e-details" src="../../assets/imgs/SystemIcons/location.svg">
                    <ion-label class="space">Bharati Vidyapith College</ion-label>
                </ion-item>
                <ion-item class="lines">
                    <div>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/share.svg"></button>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/star border.svg"></button>
                        <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/join event 2.svg"></button>
                    </div>
                </ion-item> <div class="adjust"></div>
            </ion-card>
            <!--item 3 event 3  starts here   -->
        <ion-card>
            <ion-item class="diff" no-lines>
                <img class="e-icon" src="../../assets/imgs/Category-Education.svg" item-start>
                <p class="subtitle">Child Education Awareness</p>
                <p class="subtext">Social Service
                    <img class="s-icons" src="../../assets/imgs/SystemIcons/public event.svg" >
                </p>
            </ion-item>

            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/calendar.svg">
                <ion-label class="space">Mon, Jul 03, 01 Day Event</ion-label>
            </ion-item>
            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/person (user).svg">
                <ion-label class="space">Saniya Mahtur</ion-label>
            </ion-item>
            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/location.svg">
                <ion-label class="space">Taljai Tekdi, Pune</ion-label>
            </ion-item>
            <ion-item class="lines">
                <div>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/share.svg"></button>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/star border.svg"></button>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/join event 2.svg"></button>
                </div>
            </ion-item> <div class="adjust"></div>
        </ion-card>

        <ion-card>
            <!-- item 2  Event 2 starts... -->
            <ion-item class="diff" no-lines>
                <img class="e-icon" src="../../assets/imgs/Category-Animal Welfare.svg" item-start>
                <p class="subtitle">Pet Adoption Camp</p>
                <p class="subtext">Animal Welfare
                    <img class="s-icons" src="../../assets/imgs/SystemIcons/public event.svg" >
                </p>
            </ion-item>

            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/calendar.svg">
                <ion-label class="space">Mon, Jul 03, 01 Day Event</ion-label>
            </ion-item>
            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/person (user).svg">
                <ion-label class="space">Saniya Mahtur</ion-label>
            </ion-item>
            <ion-item class="details" item-start no-lines>
                <img item-start class="e-details" src="../../assets/imgs/SystemIcons/location.svg">
                <ion-label class="space">Bharati Vidyapith College</ion-label>
            </ion-item>
            <ion-item class="lines">
                <div>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/share.svg"></button>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/star border.svg"></button>
                    <button class="b-share"><img class="share" src="../../assets/imgs/SystemIcons/join event 2.svg"></button>
                </div>
            </ion-item> <div class="adjust"></div>
        </ion-card>

        <ion-card></ion-card>
    </ion-list>
    <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <ion-fab>
                    <button ion-fab color="f3b000" clear (click)="createEvent()"><img class="plus" src="../../assets/imgs/SystemIcons/plus for floating button.svg"> </button>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <ion-fab bottom right edge class="add">
        <button class="add" ion-fab color="f3b000" clear (click)="createEvent()">
            <img class="plus" src="../../assets/imgs/SystemIcons/plus for floating button.svg">
        </button>
    </ion-fab>
</ion-content>

<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <img class="person" src="assets/imgs/download.png" alt="" clear (click)="profile()">
            <ion-title padding-left=1.5%>Aditya Lohia</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list no-lines>
            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/settings.svg" class="addalbum" item-start>
                <ion-label class="addP">Settings</ion-label>
            </ion-item>

            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/info.svg" class="addalbum" item-start>
                <ion-label class="addP">App Info</ion-label>
            </ion-item>

            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/FAQ.svg" class="addalbum" item-start>
                <ion-label class="addP">FAQ</ion-label>
            </ion-item>

            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/terms and privacy.svg" class="addalbum" item-start>
                <ion-label class="addP">Terms and Privacy</ion-label>
            </ion-item>

            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/invite friends.svg" class="addalbum" item-start>
                <ion-label class="addP">Invite Friends</ion-label>
            </ion-item>

            <ion-item class="wide" no-lines>
                <img src="../../assets/imgs/SystemIcons/sign out.svg" class="addalbum" item-start>
                <ion-label class="addP">Sign Out</ion-label>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
